<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/ac8ec810-30f1-4b42-b308-89ba4746b36a/v3/index.json" />
  </packageSources>
</configuration>